.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    overflow: auto;
    height: 9%;
    margin-top: 40px;
    margin-bottom: 40px;
}
.title {
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
.date {
    padding-right: 10px;
}